<div class="main-page">
  <h1>Welcome to</h1>
  <img
    src="assets/img/logo.png"
    alt="The FlicksPicks logo in neon lights"
    class="logo-welcome"
  />

  <button
    mat-raised-button
    class="registerBtn"
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px"
  >
    Sign Up
  </button>
  <p>Already have an account?</p>
  <button
    mat-raised-button
    class="loginBtn"
    (click)="openUserLoginDialog()"
    style="margin-right: 10px"
  >
    Login
  </button>

  <!--   <button mat-raised-button color="primary" (click)="openMoviesDialog()">
    All Movies
  </button> -->
</div>
