<app-navbar></app-navbar>
<div class="container">
  <mat-card *ngFor="let movie of movies" class="items">
    <mat-card-header>
      <mat-card-title class="title">{{ movie.Title }}</mat-card-title>
      <!-- <mat-card-subtitle class="subtitle" *ngFor="let director of directors"
        >Directed by: {{ movie.Director[0].Name }}</mat-card-subtitle
      > -->
    </mat-card-header>
    <img src="{{ movie.ImageURL }}" alt="{{ movie.Title }}" />
    <mat-card-actions class="actions">
      <button
        mat-button
        id="genre-btn"
        color="primary"
        (click)="openGenreDialog(movie.Genre.Gname, movie.Genre.Gdescription)"
      >
        Genre
      </button>

      <button mat-button id="director-btn" color="primary">Director</button>

      <button
        mat-button
        id="synopsis-btn"
        color="primary"
        (click)="openSynopsisDialog(movie.Title, movie.Description)"
      >
        Synopsis
      </button>
    </mat-card-actions>
    <button
      class="favorites-icon"
      *ngIf="!setFavoriteStatus(movie._id)"
      mat-button
      (click)="addToFavorites(movie._id, movie.Title)"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
    <button
      class="favorites-icon"
      *ngIf="setFavoriteStatus(movie._id)"
      mat-button
      (click)="deleteFromFavorites(movie._id, movie.Title)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-card>
</div>
