<div class="director-dialog-wrapper">
  <button mat-icon-button color="dark" [mat-dialog-close]="true">
    <mat-icon>close</mat-icon>
  </button>
  <div id="main-content" *ngFor="let director of directors">
    <mat-dialog-content>
      <h1 *ngIf="data._id == director._id" class="dialog-title">
        {{ director.Name }}
      </h1>
      <div>
        <p *ngIf="data._id == director._id" class="dialog-definition">
          {{ director.Bio }}
        </p>
      </div>
    </mat-dialog-content>
  </div>
</div>
